body{
    font-family: 'Bad Script', cursive;
    text-indent: 5mm;   
}
h3{
    font-family: serif;
}
#1{
    text-align: right;

}
#2{
    font-weight: 900;
}
.one{
    font-family: serif;
    text-indent: 0mm;   
}